<%include ../partials/header%>

<div class="container">
    <div id="tableContainer">
          <form action="/profile?_method=PUT" enctype="multipart/form-data" method="POST">

              <table class="table table-bordered">
                  <tr></tr>
              </table>





               <p>Change Office</p>
                       <select name="user[office]" class="form-control profile-page">
                           <option> <%= currentUser.office %> </option>
                           <option> Vake Shop                 </option>
                           <option> Central Shop              </option>
                           <option> Gldani Shop               </option>
                           <option> Marjanishvili Shop        </option>
                           <option> Rustaveli Shop            </option>
                           <option> Avlabari Shop             </option>
                           <option> Ortachala Shop            </option>
                           <option> Varketili Shop            </option>
                       </select>
              <p>Change Tel:</p>
              <input type="text" name="user[tel]" class="form-control">
              <input class="btn btn-primary" type="submit" value="Change">
          </form>

        <!--<form name="user[pic]" enctype="multipart/form-data" action="/avatar?_method=PUT" method="POST">-->
            <!--<input name="pic" type="file">-->
            <!--<input class="btn btn-primary" type="submit" value="upload">-->
        <!--</form>-->
    </div>




        <h3><em><u>Signature</u></em></h3>
        <p><span id="signature"><strong><%=currentUser.firstname + " " + currentUser.lastname%></strong></span><br>
        <%= currentUser.position %><br>
        <%= currentUser.office %><br>
        Mobile: <%= currentUser.tel %><br>
        <a><%= currentUser.username %></a><br>
        Geocell LLC., Part of Telia Company<br>
        3 Gotua Str. Right Side of the River Mtkvari,Tbilisi, 0160, Georgia<br>
        <a>www.teliacompany.com</a> <br>
        <a>www.geocell.ge</a></p>
</div>

<%include ../partials/footer%>