<%include ../partials/header%>

<div class="container">

    
    <div id="profileDiv">

      <img class="img-thumbnail userProfile-image" src="/uploads/userPictures/<%=currentUser.pic%>">

          <table class="table table-striped">

            <tr>
                <td></td>
                <td><h1> Change your info </h1></td>
            </tr>
                <form action="/avatar?_method=PUT" method="POST" enctype="multipart/form-data">
            <tr>
               <td><strong>Change Picture</strong></td>
               <td class="picUpload"><input name="user[pic]" type="file"><button class="btn btn-success">Upload</button></td>
            </tr>
                </form>
             <form action="/profile?_method=PUT" method="POST">
             <tr>
               <td><strong>Change Office</strong></td>
               <td><select name="user[office]" class="form-control">
                        <option><%= currentUser.office %></option>
                        <option>Vake Shop                </option>
                        <option>Central Shop             </option>
                        <option>Gldani Shop              </option>
                        <option>Marjanishvili Shop       </option>
                        <option>Rustaveli Shop           </option>
                        <option>Avlabari Shop            </option>
                        <option>Ortachala Shop           </option>
                        <option>Varketili Shop           </option>
                </select></td>
            </tr>
            <tr>
               <td><strong>Change TEL</strong></td>
               <td><input name="user[tel]" type="text" class="form-control" value="<%= currentUser.tel %>"></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-danger" type="submit" value="Update Info"></tr>
            </tr>
            </form>
          </table>
      
    </div>




        <h3><em><u>Signature</u></em></h3>
        <p><span id="signature"><strong><%=currentUser.firstname + " " + currentUser.lastname%></strong></span><br>
        <%= currentUser.position %><br>
        <%= currentUser.office %><br>
        Mobile: <%= currentUser.tel %><br>
        <a><%= currentUser.username %></a><br>
        Geocell LLC., Part of Telia Company<br>
        3 Gotua Str. Right Side of the River Mtkvari,Tbilisi, 0160, Georgia<br>
        <a>www.teliacompany.com</a> <br>
        <a>www.geocell.ge</a></p>
</div>

<%include ../partials/footer%>