<!DOCTYPE html>
<html>
<head>
  <title>Geocell Blog</title>

  <link rel="stylesheet" href="../../css/main.css" type="text/css">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/ckeditor/ckeditor.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/mainPage">Geo Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/mainPage">Home <span class="sr-only"></span></a></li>
        <li><a href="/offices">Geocell Offices</a></li>
        <li><a href="/quiz">Mini Tests</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registration Forms<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/mainPage/storeRegForms">Google</a></li>
                  <li><a href="/mainPage/appStore">App store</a></li>
                  <li><a href="#">Windows</a></li>
              </ul>
        <% if(currentUser.permission === "admin"){ %>
        <li><a href="/new"><span class="btnStyle">New User</span></a></li>
         <% } %>
          </ul>
        </li>
      </ul>
        <% function capitalizeFirstLetter(string) { %>
        <% return string.charAt(0).toUpperCase() + string.slice(1); %>
        <% } %>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/mainPage/new"><span id="btnStyle">New Post!</span></a></li>
          <% if(currentUser && currentUser.pic !== ""){ %>

          <li><a class="userlink" href="/profile"><img class="img-rounded" id="userPic" src="/uploads/userPictures/<%=currentUser.pic%>"><em><%=capitalizeFirstLetter(currentUser.firstname) + " " + capitalizeFirstLetter(currentUser.lastname)%></em></a></li>
          <li><a href="/logout">Logout</a></li>
          <% }else { %>
          <li><a class="userlink" href="/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><em><%=capitalizeFirstLetter(currentUser.firstname) + " " + capitalizeFirstLetter(currentUser.lastname)%></em></a></li>
          <li><a href="/logout">Logout</a></li>
          <% } %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <storng><%= error %></storng>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <strong><%= success %></strong>
    </div>
    <% } %>


