<%include ../partials/header%>

<div class="container" id="firstContainer">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            სამუშაო პროგრამები
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <div class="row">
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Billing</strong></li>
                  <li class="img-circle"><a href="http://10.40.3.25:7001/myshapecsr/jfn" target="_blank">CSR Portal</a></li>
                  <li class="img-rounded"><a href="http://cssaccess.intra/channel/jfn" target="_blank">CSR Channel</a></li>
                  <li class="img-rounded"><a href="http://sbms.intra:8888/ps/sbms/shell.html" target="_blank">Peter-Service</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Roaming</strong></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-lailai-subs" target="_blank">Roaming ლაი-ლაი</a></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-geocell-subs" target="_blank">Roaming ჯეოსელი</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Other</strong></li>
                  <li><a href="http://snserv3.intra/index.php">SMS Log</a></li>
                  <li><a href="http://4g.ge" target="_blank">Invigo</a></li>
                  <li><a href="http://terra.intra/pls/idavapps/IFRAMEWORK.main" target="_blank">Switch info</a></li>
                  <li><a href="http://email.geocell.ge" target="_blank">Geocell Mail</a></li>
                  <li><a href="http://4g.ge" target="_blank">Phone Installment</a></li>
                  <li><a href="http://http://phinstallgui2.intra:8080/PhoneInstallmentGui2/?session_id=1809440" target="_blank">4g.ge</a></li>
                </ul>
            </div>
        </div>
        </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Tech News
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
         <div class="row">
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Billing</strong></li>
                  <li class="img-circle"><a href="http://10.40.3.25:7001/myshapecsr/jfn" target="_blank">CSR Portal</a></li>
                  <li class="img-rounded"><a href="http://cssaccess.intra/channel/jfn" target="_blank">CSR Channel</a></li>
                  <li class="img-rounded"><a href="http://sbms.intra:8888/ps/sbms/shell.html" target="_blank">Peter-Service</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Roaming</strong></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-lailai-subs" target="_blank">Roaming ლაი-ლაი</a></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-geocell-subs" target="_blank">Roaming ჯეოსელი</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Other</strong></li>
                  <li><a href="http://snserv3.intra/index.php">SMS Log</a></li>
                  <li><a href="http://4g.ge" target="_blank">Invigo</a></li>
                  <li><a href="http://terra.intra/pls/idavapps/IFRAMEWORK.main" target="_blank">Switch info</a></li>
                  <li><a href="http://email.geocell.ge" target="_blank">Geocell Mail</a></li>
                  <li><a href="http://4g.ge" target="_blank">Phone Installment</a></li>
                  <li><a href="http://http://phinstallgui2.intra:8080/PhoneInstallmentGui2/?session_id=1809440" target="_blank">4g.ge</a></li>
                </ul>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!--  ========================================================================================================    -->
 <div class="my-own-well">

 </div> 
     
  </div>
  

</div>
</div>

<!--  ========================================================================================================    -->
<div class='container'>
    <div class='searchBar'>
      <form action="/mainPage/search" method="POST" id="searchForm">
        <h5>Filter by Tag</h5>
        <select name="tagName" id="tagName">
                <option>none</option>
                <option>Android</option>
                <option>Apple</option>
                <option>Navision</option>
                <option>Must know!</option>
                <option>Billing</option>
                <option>FAQ</option>
                <option>Other</option>
        </select>
          <input type="text" placeholder="Search">
          <span id="testText"><a>https://www.youtube.com/watch?v=fEYx8dQr_cQ</a></span>
          <input type='submit' id='btnStyleSmall' class='searchBtn' value='Search'>
      </form>
        <a href="/mainPage/new"><span id="btnStyleSmall">New Post!</span></a>
    </div>
</div>

<div class="container" id="feedsMainContainer">


        <% bpost.forEach(function( blogPosts ) { %>
    <div class="postContentHolder">
        <h4><a href="/mainPage/<%= blogPosts._id %>"><%=blogPosts.title%></a></h4>
        <span class="pull-right"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><em><%= blogPosts.date.toDateString() %></em></span>
        <p><strong>Posted By: </strong><em><%= blogPosts.author.firstname + " " + blogPosts.author.lastname %></em></p>
        <p id="postTag"><strong>Tag: </strong><span class="tag-color"> <%= blogPosts.tag %> </span></p>

        <% if(currentUser.permission === "admin") { %>
            <div class="blogPostButtons">
                <form  action="/mainPage/<%= blogPosts._id %>?_method=DELETE" method="POST">
                    <a class="label-danger"><span class="label label-danger">Delete</span></a>
                </form>
            <a href="/mainPage/<%=blogPosts._id%>/edit"><span class="label label-warning">Edit</span></a>
        <% } %>
        </div>
    </div>
        <% }) %>



    <% if (pageCount > 1) { %>
    <ul class="pagination">
        <% if (currentPage > 1) { %>
        <li><a href="/mainPage/?page=1">&laquo;</a></li>
        <% } %>
        <% var i = 1;
            if (currentPage > 5) {
                i =+ currentPage - 4;
            } %>
        <% if (i !== 1) { %>
        <li class="disabled"><a href="#">...</a></li>
        <% } %>
        <% for (i; i <= pageCount; i++) { %>
        <% if (currentPage == i) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
        <% } else { %>
        <li><a href="/mainPage/?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == ( + currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
        <% break; } %>
        <% } %>
        <% if (currentPage != pageCount) { %>
        <li><a href="/mainPage/?page=<%= currentPage %>">&raquo;</a></li>
        <% } %>
    </ul>
    <% } %>

</div>





<%include ../partials/footer%>