<%include ../partials/header%>

<div class="container" id="firstContainer">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            სამუშაო პროგრამები
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <div class="row">
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Billing</strong></li>
                  <li class="img-circle"><a href="http://10.40.3.25:7001/myshapecsr/jfn" target="_blank">CSR Portal</a></li>
                  <li class="img-rounded"><a href="http://cssaccess.intra/channel/jfn" target="_blank">CSR Channel</a></li>
                  <li class="img-rounded"><a href="http://sbms.intra:8888/ps/sbms/shell.html" target="_blank">Peter-Service</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Roaming</strong></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-lailai-subs" target="_blank">Roaming ლაი-ლაი</a></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-geocell-subs" target="_blank">Roaming ჯეოსელი</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Other</strong></li>
                  <li><a href="http://snserv3.intra/index.php">SMS Log</a></li>
                  <li><a href="http://4g.ge" target="_blank">Invigo</a></li>
                  <li><a href="http://terra.intra/pls/idavapps/IFRAMEWORK.main" target="_blank">Switch info</a></li>
                  <li><a href="http://email.geocell.ge" target="_blank">Geocell Mail</a></li>
                  <li><a href="http://4g.ge" target="_blank">Phone Installment</a></li>
                  <li><a href="http://http://phinstallgui2.intra:8080/PhoneInstallmentGui2/?session_id=1809440" target="_blank">4g.ge</a></li>
                </ul>
            </div>
        </div>
        </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Tech News
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
         <div class="row">
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Billing</strong></li>
                  <li class="img-circle"><a href="http://10.40.3.25:7001/myshapecsr/jfn" target="_blank">CSR Portal</a></li>
                  <li class="img-rounded"><a href="http://cssaccess.intra/channel/jfn" target="_blank">CSR Channel</a></li>
                  <li class="img-rounded"><a href="http://sbms.intra:8888/ps/sbms/shell.html" target="_blank">Peter-Service</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Roaming</strong></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-lailai-subs" target="_blank">Roaming ლაი-ლაი</a></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-geocell-subs" target="_blank">Roaming ჯეოსელი</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" class="links">
                <ul class="programLinks">
                  <li><strong>Other</strong></li>
                  <li><a href="http://snserv3.intra/index.php">SMS Log</a></li>
                  <li><a href="http://4g.ge" target="_blank">Invigo</a></li>
                  <li><a href="http://terra.intra/pls/idavapps/IFRAMEWORK.main" target="_blank">Switch info</a></li>
                  <li><a href="http://email.geocell.ge" target="_blank">Geocell Mail</a></li>
                  <li><a href="http://4g.ge" target="_blank">Phone Installment</a></li>
                  <li><a href="http://http://phinstallgui2.intra:8080/PhoneInstallmentGui2/?session_id=1809440" target="_blank">4g.ge</a></li>
                </ul>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!--  ========================================================================================================    -->
 <div class="my-own-well">
      <% post.forEach(function (hPost) { %>
      <% if(hPost.tag === "HOT") { %>

          <% } %>

    <% }) %>
 </div> 
     
  </div>
  

</div>
</div>

<!--  ========================================================================================================    -->
<div class='container'>
    <div class='searchBar'>
      <form action='/mainPage/search' method='POST'>
        <h5>Search by Tag</h5>
        <select name="tagName">
                <option>none</option>
                <option>Android</option>
                <option>Apple / iOS</option>
                <option>Navision</option>
                <option>Must know!</option>
                <option>Billing</option>
                <option>FAQ</option>
                <option>Other</option>
        </select>
          <input type='submit' id='btnStyleSmall' value='Search'>
      </form>
    </div>
</div>
<div class="container" id="feedsMainContainer">
<% post.forEach(function (fPost) { %>
  <% if(fPost.tag !== "HOT") { %>
  <div class="row">
    <div class="col-md-12" id="feedsContainer">

      <div id="blogTitle">
        <h4><a href="/mainPage/<%= fPost._id %>"><%=fPost.title%></a></h4>
          <p><strong>Posted By: </strong><em><%= fPost.author.firstname + " " + fPost.author.lastname %></em></p>
        <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><em><%= fPost.date.toDateString() %></em></p>
        <p id="postTag"><strong>Tag: </strong><span class="tag-color"> <%= fPost.tag %> </span></p>

      </div>
      <div id="imageDiv">
        <img id="feedsImg" src="https://s-media-cache-ak0.pinimg.com/originals/b8/50/30/b850301ece5049b28010e96970273ab6.jpg">
      </div>
        <% if(currentUser.permission === "admin") { %>
        <form class="postDeleteBtn" action="/mainPage/<%= fPost._id %>?_method=DELETE" method="POST">
        <button  class="btn btn-danger">delete</button>
        </form>
       <a href="/mainPage/<%=fPost._id%>/edit" class="btn btn-warning">Edit</a>
        <% } %>
    </div>
  </div>
    <% } %>
    <% }) %>

</div>





<%include ../partials/footer%>