<%include ../partials/header%>

<div class="container">
    <div class="post-container">
        
            <span id="title-header"><%= thisPost.title %></span>
            <p id="post-date-time"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= thisPost.date.toDateString()%></p>
            <hr>
            <p><strong><br> </strong> <img class="img-rounded" id="userPic" src="/uploads/userPictures/<%=thisPost.author.pic%>"> <%= thisPost.author.firstname + " " + thisPost.author.lastname %><br>
            <span><strong>Tag:   </strong><span class="tag-color"><%= thisPost.tag %></span> </span></p> <br>


    </div>

    
    <div class="post-content">
        <div class="btn-containers">
            <% if(currentUser.permission === "admin") { %>
            <form class="postDeleteBtn" action="/mainPage/<%= thisPost._id %>?_method=DELETE" method="POST">
                <button  class="btn btn-danger">delete</button>
            </form>
                <a href="/mainPage/<%= thisPost._id %>/edit" class="btn btn-warning">Edit</a>
            <% } %>
            <% if(currentUser._id.equals(thisPost.author.id)) { %>

            <a href="/mainPage/<%= thisPost._id %>/edit" class="btn btn-warning">Edit</a>

            <% } %>
        </div>
        
            <p><%- thisPost.content %></p>
    </div>
    
    <div class="post-comments-container">
        
       <% thisPost.comments.forEach(function (postComment) { %>
        <div class="comment-data">
            <span><img class="img-rounded" id="userPic" src="../../uploads/userPictures/<%=postComment.author.pic%>"> <strong><%=postComment.author.firstname + " " + postComment.author.lastname%></strong></span>
            <span id="comment-date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><em><%=postComment.date.toDateString() + " " + postComment.date.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");%></em></span>
            <hr>
            <p><%=postComment.text%></p>
        </div>
        <% })%>
        <div class="post-comment-form">
            <form action="/mainPage/<%=thisPost._id%>/comments" method="POST">
                <span><img class="img-rounded" id="userPic" src="../../uploads/userPictures/<%=currentUser.pic%>"> <strong><%=currentUser.firstname + " " + currentUser.lastname%></strong></span>
                <textarea name="comment[text]" class="form-control" rows="2">

                </textarea>
                <button class="btn btn-sm btn-primary post-comment-form-btn">Post</button>
            </form>
        </div>

    </div>

</div>



<%include ../partials/footer%>