<%include ../partials/header%>

<div class="container">
    <div class="post-container">
        
            <span id="title-header"><%= thisPost.title %></span>
            <p id="post-date-time"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= thisPost.date.toDateString()%></p>
            <hr>
            <p><strong><br> </strong> <img class="img-rounded" id="userPic" src="/uploads/userPictures/<%=thisPost.author.pic%>"> <%= thisPost.author.firstname + " " + thisPost.author.lastname %><br>
            <span><strong>Tag:   </strong><span class="tag-color"><%= thisPost.tag %></span> </span></p> <br>


    </div>

    
    <div class="post-content">
        <div class="btn-containers">
            <% if(currentUser.permission === "admin") { %>
            <form class="postDeleteBtn" action="/mainPage/<%= thisPost._id %>?_method=DELETE" method="POST">
                <button  class="btn btn-danger">delete</button>
            </form>
                <a href="/mainPage/<%= thisPost._id %>/edit" class="btn btn-warning">Edit</a>
            <% } %>
            <% if(currentUser._id.equals(thisPost.author.id)) { %>

            <a href="/mainPage/<%= thisPost._id %>/edit" class="btn btn-warning">Edit</a>

            <% } %>
        </div>
        
            <p><%- thisPost.content %></p>
    </div>
    
    <div class="post-comments-container">
        
        <div class="comment-data">
            <span><strong>Sandro Suladze</strong></span>
            <span id="comment-date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><em>Jan 24 2001</em></span>
            <hr>
            <p>jdksajdksajdksahjkdashjkdsahkjdhashdasjhdsajhdjsahdjashdjashdjashdjashjdsahdjashdjsajk</p>
        </div>
        
        
        <div class="comment-data">
            <span><strong>Sandro Suladze</strong></span>
            <span id="comment-date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><em>Jan 24 2001</em></span>
            <hr>
            <p>jdksajdksajdksahjkdashjkdsahkjdhashdasjhdsajhdjsahdjashdjashdjashdjashjdsahdjashdjsajkdsjajdslajdksajdklsajdlskajdlasjdsaj</p>
        </div>
    </div>
    
    

</div>

<div>
    <form>
    <!--<img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg">-->
    <textarea class="form-control" rows="2">
        
    </textarea>
    </form>
</div>

<%include ../partials/footer%>