<% quiz.forEach(function (test) { %>


<img src="/uploads/quizPictures/<%= test.image1 %>">
<h1><%= test.question %></h1>
<p><%= test.answer1 %></p>
<p><%= test.answer2 %></p>
<p><%= test.answer3 %></p>
<p><%= test.answer4 %></p>
<p><%= test.answer5 %></p>

<% })%>