<%include ../partials/header%>

<div class="container">
    <% if(currentUser.permission === "admin") { %>
    <a class="btn btn-warning" href="/quiz/new">Add test questions</a>
    <% } %>

<<<<<<< HEAD
    <% quiz.forEach(function (test) { %>
    <h1><%= test.question %></h1>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1">
            <p><%= test.answer1 %></p>
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            <p><%= test.answer2 %></p>
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option3">
            <p><%= test.answer3 %></p>
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option4">
            <p><%= test.answer4 %></p>
      </label>
    </div>
     <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option5">
            <p><%= test.answer5 %></p>
      </label>
    </div>
    <% }); %>
=======

       <% quiz.answers.forEach(function (testAnswers) { %>
    <!--<div class="radio">-->
        <!--<label>-->
            <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option">-->
            <!---->
        <!--</label>-->
    <!--</div>-->
      <% }) %>

>>>>>>> 8a15376260bdab06a29965a058a2722a130bf224



</div>




<%include ../partials/footer%>